:root{
    --red:#e50914;
    --black:#141414;
    --gray:#f6f3f3d2;
    --white:#ffffff;
}

/* Base */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--black);
    font-family: sans-serif;
    color: var(--white);
}

header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 50;
    width: 100%;
    background-color:rgba(0,0,0,.90);
}

header .container .subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .container .subcontainer i{
    padding: 0.5em;
}

header .container .subcontainer .logo{
    width: 50%;
}

header nav a {
    text-decoration: none;
    color: var(--gray);
    margin-right: 1em;
    padding: 0.8em;
}

header nav a:hover{
    color: var(--white);
}

/* Principal */

.filme-principal{
    font-size: 1em;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url(shera-background.jpg);
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .container{
    margin-left: 2em;
    width: 75%;
}

.filme-principal .descricao{
    font-size: 1.2em;
    font-weight: 100;
    margin-top: .5em;
    line-height: 28px;
    margin-bottom: 1.5em;
}

.filme-principal .titulo{
    font-family: sans-serif;
    letter-spacing: 5px;
    font-size: 2.6em;
    margin-top: 8%;
}

.filme-principal .botao{
    background-color: rgba(0,0,0,.50);
    padding: 1em 2em;
    margin-right: 1em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    color: var(--white);
    transition: .3s ease all;
}

.filme-principal .botao:hover{
    color: var(--black);
    background-color: var(--white);
}

.filme-principal .botao i {
    margin-right: 1em;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0.5em 0;
}

.carousel{
    margin: 1em 1em;
}

.carousel h3{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    margin-top: 0.6em;
}